body {
  background: #FFF;
  overflow-x: hidden;
  position: relative;
  font-family: $muli;
  font-weight: 300;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 13px;
  line-height: 1.4;
}