.gallery {
  list-style-type: none;
  width: 100%;

  li {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;

    &.plakaty img {
      max-width: 185px;
    }

    a {
      display: block;

      img {
        max-height: 265px;
        max-width: 300px;
        transition: all 0.4s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        @include tablet-sm {
          max-height: 160px;
          max-width: 160px;
        }

        @include phone-l {
          max-width: 100%;
        }
      }
    }

    @include phone-l {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }
}

.videos {
  list-style-type: none;

  li {
    display: table;
    width: 100%;
    margin-bottom: 23px;

    .placeholder {
      width: 100%;
      max-height: 290px;
    }
  }
}