/* BEGIN PRIMARY-NAV */
.primary-nav {
  display: table;
  z-index: 999;

  @include tablet-sm {
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    display: table;

    li {
      display: inline-block;
      float: left;

      &:not(:first-child) {
        margin-left: 25px;

        @include page-width {
          margin-left: 20px;
        }

        @include tablet-xl {
          margin-left: 15px;
        }
      }

      a {
        display: block;

        &:hover {
          transform: scale(1.1);
        }

        img {
          max-height: 40px;
          max-width: 40px;

          @include phone-l-min {
            max-width: 50px;
            max-height: 50px;
          }

          @include page-width-min {
            max-width: 70px;
            max-height: 70px;
          }

        }
      }
    }
  }
}
/* END PRIMARY-NAV */

/* BEGIN SECONDARY-NAV */
.secondary-nav {
  display: table;
  list-style-type: none;
  font-size: 55px;

  @include page-width {
    font-size: 48px;
    margin-top: 5px;
  }

  @include tablet-xl {
    width: 100%;
  }

  @include tablet-sm {
    font-size: 14px;
  }

  @include phone-l {
    margin-bottom: 20px;
  }

  li {
    display: none;

    @include tablet-xl {
      float: left;
      font-size: 24px;

      &:not(:first-child) {
        margin-left: 10px;
      }

      .active:after,
      a:hover:after {
        content: '';
      }
    }
  }
}

.pane-left-wrap .secondary-nav {
  width: 370px;
}

.pane-right-wrap .secondary-nav {
  width: 475px;
}
/* END SECONDARY-NAV */