.panes {
  margin-top: 95px;
  display: table;
  width: 100%;
  text-align: center;
  height: 400px;

  @include page-width {
    margin-top: 50px;
    height: 370px;
  }

  @include tablet-sm {
    margin-top: 25px;
    height: 315px;
  }

  @include phone-l {
    height: 270px;
  }

  .logo {
    cursor: pointer;
    top: 0;
    position: relative;
    max-width: 100%;

    @include page-width {
      max-height: 350px;
    }

    @include tablet-sm {
      max-height: 300px;
    }

    @include phone-l {
      max-height: 250px;
    }
  }
}
/* END PANES */

.pane {
  transition: left 0.9s, right 0.9s;
  width: 50%;
  float: left;
  position: relative;

  @include phone-l-min {
    position: absolute;
    width: 132px;
  }

  @include tablet-sm-min {
    width: 154px;
  }

  @include page-width-min {
    width: 160px;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 33px;
    line-height: 1;
    margin: 0;
    font-weight: normal;
    display: block;
    position: relative;

    &--blue {
      color: $blue;
    }

    &--pink {
      color: $pink
    }

    @include phone-l {
      left: auto;
    }

    @include phone-l-min {
      font-size: 36px;
      left: 0;
      top: 10px;
    }

    @include tablet-sm-min {
      font-size: 40px;
    }

    @include tablet-xl-min {
      font-size: 48px;
    }

    @include page-width-min {
      font-size: 55px;
    }

  }

}

/* BEGIN PANE-LEFT */
.pane-left {
  color: $blue;
  left: auto;
  text-align: right;

  .logo {
    right: 2px;
  }

  @include phone-l-min {
    left: calc(50% - 132px);

    .logo {
      right: auto;
    }
  }

  @include tablet-sm-min {
    left: calc(50% - 154px);
  }

  @include page-width-min {
    left: calc(50% - 160px);
  }

  @include phone-l-min {
    .pane__heading {
      left: -18px;
    }
  }

  @include tablet-sm-min {
    .pane__heading {
      left: -16px;
    }
  }

  @include tablet-xl-min {
    .pane__heading {
      left: -50px;
    }
  }

  @include page-width-min {
    .pane__heading {
      left: -68px;
    }
  }

  h2 {
    display: none;
  }
}


/* BEGIN PANE-LEFT-WRAP */
.pane-left-wrap {
  position: absolute;

  @include page-width-min {
    left: 395px;
  }

  @include page-width {
    left: 330px;
  }

  @include tablet-xl {
    width: 100%;
    left: 230px;
  }

  @include tablet-sm {
    left: 180px;
  }

  @include phone-l {
    position: relative;
    left: auto;
    display: none;
  }

  .secondary-nav {
    text-align: left;
    float: left;

    @include tablet-xl {
      width: 100%;
      margin-bottom: 15px;
    }

    a {
      color: $blue;

      &:hover {
        color: $blue-dark;
      }
    }

    li.active a {
      color: $blue-dark;
    }

    li.active a:after,
    a:hover:after {
      margin-left: 10px;
      color: $blue-dark;
      content: '>';
      display: inline-block;
      @include tablet-xl {
        content: '';
        margin: 0;
      }
    }

    @include tablet-xl {
      li.active a:after {
        display: none;
      }
    }
  }

  .inner-wrap {
    display: none;
    float: left;
    width: 655px;
    height: calc(100vh - 190px);
    overflow-y: scroll;
    padding-right: 15px;

    @include tablet-xl {
      float: none;
      height: 285px;
      width: 100%;
    }

    @include tablet-sm {
      height: 230px;
    }
  }
  /* END PANE-LEFT-WRAP */

}
/* END PANE-LEFT */

/* BEGIN PANE-RIGHT */
.pane-right {
  color: $pink;
  right: auto;
  text-align: left;

  @include phone-l-min {
    right: calc(50% - 132px);
  }

  @include tablet-sm-min {
    right: calc(50% - 154px);
  }

  @include page-width-min {
    right: calc(50% - 160px);
  }

  a {
    color: $pink;

    &:hover:after {
      display: inline-block;
      margin-left: 10px;
      content: '>';
      @include tablet-xl {
        content: '';
        margin: 0;
      }
    }
  }

  @include phone-l-min {
    .pane__heading {
      left: -3px;
    }
  }

  h2 {
    display: none;
  }
}

/* BEGIN PANE-RIGHT-WRAP */
.pane-right-wrap {
  position: absolute;

  @include page-width-min{
    right: 395px;
  }

  @include page-width {
    right: 330px;
  }

  @include tablet-xl {
    right: 230px;
    //width: calc(100% - 253px);
    width: 100%;
  }

  @include tablet-sm {
    right: 180px;
  }

  @include phone-l {
    position: relative;
    right: auto;
    display: none;
  }

  .secondary-nav {
    text-align: right;
    float: right;

    @include tablet-xl {
      width: 100%;
      margin-bottom: 15px;
    }

    @include tablet-xl {
      li {
        float: right;

        &:not(:first-child) {
          margin-right: 10px;
          margin-left: 0;
        }
      }
    }

    a {
      color: $pink;

      &:hover {
        color: $pink-dark;
      }
    }

    li.active a {
      color: $pink-dark;
    }

    li.active a:before,
    a:hover:before {
      margin-right: 10px;
      color: $pink-dark;
      content: '<';
      display: inline-block;
      @include tablet-xl {
        content: '';
        margin: 0;
      }
    }

    @include tablet-xl {
      li.active a:before {
        display: none;
      }
    }
  }

  .inner-wrap {
    float: left;
    display: none;
    width: 510px;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    padding-right: 17px;

    @include tablet-xl {
      float: none;
      height: 285px;
      width: 100%;
    }

    @include tablet-sm {
      height: 230px;
    }
  }

}
/* BEGIN PANE-RIGHT-WRAP */
@include tablet-xl {

  #categories-gallery {
    li a {
      color: $blue;

      &:hover {
        color: $blue-dark;
      }
    }

    li.active a {
      color: $blue-dark;
    }
  }

  #categories-videos {
    li a {
      color: $pink;

      &:hover {
        color: $pink-dark;
      }
    }

    li.active a {
      color: $pink-dark;
    }
  }
}


/* BEGIN BOTH-OPEN */
.both-open {

  .pane-left,
  .pane-right {
    opacity: 1;
  }

  .pane-left-wrap,
  .pane-right-wrap {
    display: none;
  }

  .primary-nav .js-form {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }

}
/* END BOTH-OPEN */

/* BEGIN LOGO-SIGN */
.logo-sign {
  display: inline-block;
  position: relative;
  left: 63px;

  @include page-width {
    max-width: 300px;
    left: 49px;
  }

  @include phone-l {
    max-width: 230px;
    left: 38px;
  }
}
/* END LOGO-SIGN */

// hide scrollbar
@include page-width-min {
  .inner-wrap {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    overflow: -moz-scrollbars-vertical;
  }

  .inner-wrap::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}
